 <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <% title "Posts" %>
	</head>
<h1 class= "title">Most recent posts</h1>
      <% @posts.each do |post| %>
          <div class="col-md-6">
        <div class="well well-sm">
            <div class="row">
                <div class="col-xs-3 col-md-3 text-center">
                <%
=begin%>
 <%= image_tag(post.image, style:'width:100%')  if @user.image.attached?%>
<%
=end%>
                </div>
                <div class="col-xs-9 col-md-9 section-box">
                        <a  href="/posts/<%= post.id %>"  <h2><%= post.title%></h2> </a>
                        <p><%= post.description%></p>
                    <hr />
                    <div class="row rating-desc">
                        <div class="col-md-12">

                            <span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                            </span><span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                              </span><span class="glyphicon glyphicon-heart"></span><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Upvote' : 'Upvotes'%>	<%= post.downvotes.count %> <%= (post.downvotes.count) == 1 ? 'Downvote' : 'Downvotes'%><span class="separator">|</span>
                            <span class="glyphicon glyphicon-comment"></span>(<%= post.comment.count %> <%= (post.comment.count) == 1 ? 'Comment' : 'Comments'%>)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
