<p id="notice"><%= notice %></p>

<p>
  <strong>Admin profile:</strong>
  <%= @admin.admin_profile %>
</p>

<p>
  <strong>Super admin:</strong>
  <%= @admin.super_admin %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
